.contact_form {
    margin: 50px auto;
    width: 250px
}

.contact-form-section {
    display: flex;
    justify-content: space-between;



}

.contact-form-section label {
    font-size: 18px;
}

.contact-form-section input {
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.contact_form {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 30px 60px;
}

.contact_form button {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
    border: none;
}


@media only screen and (max-width: 600px) {
    .contact_form {
        margin: 50px auto;
        width: 210px;
    
}
}

@media only screen and (max-width: 600px) {
    .contact-form-section {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    
    }

}
